@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.boton-contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article{

    padding: 20px 40px;
    background-color: #3887ff;
    box-shadow: 10px 10px 10px rgba(73, 73, 73, 0.568);
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgba(255, 255, 255, 0.856);
}

a:visited{
    color: rgba(235, 235, 235, 0.856);
}

img{
    width: 20%; height: 30%;
}