@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro:wght@200&display=swap');

html{
    height: 100%;
}
body{
    background: rgb(247,228,203);
    background: -moz-linear-gradient(180deg, rgba(247,228,203,1) 0%, rgba(255,252,248,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(247,228,203,1) 0%, rgba(255,252,248,1) 100%);
    background: linear-gradient(180deg, rgba(247,228,203,1) 0%, rgba(255,252,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7e4cb",endColorstr="#fffcf8",GradientType=1);
}
.header {
    padding-left: 20px;
    margin-top: -1.5%;
    z-index: 9999;
}
header{
    z-index: 9999;
}
.header header {
    display: flex;
    align-items: center;
    gap: 8%;
}
.header__titulo {
    font-family: 'Playfair Display', serif;
    font-size: 1.75em;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
}
.header__titulo:hover {
    transform: scale(0.96);
    text-shadow: 3px 3px 3px rgba(172, 172, 141, 0.616);
}
.header__nav {
    font-family: 'Playfair Display', serif;
    display: flex;
    list-style: none;
    z-index: 9999;
}
.header__nav li {
    display: inline-block;
    margin: 40px;
    z-index: 9999;
}
.header__nav li a {
    text-decoration: none;
    color: black;
    z-index: 9999;
}
.header__icons__redes ul li{
    margin: 10px;
    z-index: 9999;
}

ion-icon {
    font-size: 1.1em;
}

.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
    height: 65vh;
}
.carrusel__imgs{
    position: absolute;
    width: 1903px; height: 845px;
}
.carrusel__img-1{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* .carrusel__img-2{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.carrusel__img-3{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
} */